body, html{
  min-height: 100%;
  min-width: 100%;
}

.main{
 position: relative;
 display: grid;
 place-items: center;
}

.picture-slide{
  width: fit-content;
  position: relative;
  width: 80%;
}

.image-wrapper{
  display: flex;
  
  justify-content: center;
}

.img{
  height: 500px;
  width: 100%;
  object-fit: cover;
  flex: 0 0 auto;
}
.slide-next{
  animation: slideLeft 1s;
}
.slide-back{
  animation: slideRight 1s;
}

.back-icon,
.next-icon{
  position: absolute;
  width: 70px;
  top: 50%;
  translate: 0 -50%;
  cursor: pointer;
}
.next-icon{
  right: -40px;
  z-index: 4;
}
.back-icon{
  left: -40px;
  z-index: 4;
}

@keyframes slideRight{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(100%);
  }
}
@keyframes slideLeft{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}
